<%= restrict_by_role roles: :admin, conn: @conn do %>
  <div class="jumbotron">
    <p class="lead">Admin View</p>
  </div>
<% end %>

<%= restrict_by_role roles: :operator, conn: @conn do %>
  <div class="jumbotron">
    <p class="lead">Operator View</p>
  </div>
<% end %>
